* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
#cursor {
  height: 20px;
  width: 20px;
  background-color: blueviolet;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-bl {
  height: 300px;
  width: 300px;
  background-color: rgba(137, 43, 226, 0.338);
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  filter: blur(40px);
  z-index: 9;
}

#nav {
  height: 145px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 120px;
  gap: 50px;
  position: fixed;
  z-index: 99;
}

#nav img {
  height: 75px;
}

#nav h4 {
  transform: uppercase;
  font-weight: 500;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.51);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  z-index: 10;
}

#page1 h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  font-weight: 900;
  position: relative;
  text-align: left;
  padding: 50px;
}
#page1 h1::before {
  content: "Hi, I'm Sarthak";
  position: absolute;
  color: black;
  top: -4px;
  left: -4px;
  -webkit-text-stroke: 2px #974ec3;
  z-index: -1;
  padding: 50px 0 0 50px;
}
#sub-head {
  /* display: flex;
  flex-direction: column; */
  margin: 0 0 0 50px;
  width: 70%;
  background-color: black;
}
#sub-head h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: monospace;
}

#sub-head p {
  font-size: 1.3rem;
  font-weight: 400;
  width: 100%;
  font-family: monospace;
  line-height: 1.5;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 8vw;
  margin: 5px;
  font-family: monospace;
  color: transparent;
  -webkit-text-stroke: 2px #974ec3;
  transition: all linear 0.5s;
}

#scroller h4:hover {
  color: #974ec3;
  -webkit-text-stroke: 2px transparent;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#ethics {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}
#ethics img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
#ethics-in {
  width: 40%;
  text-align: center;
}
#ethics-in h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 40px;
  font-family: monospace;
}

#ethics-in p {
  font-size: 20px;
  line-height: 1.2;
}

#cards-container {
  height: 60vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}

.cards {
  height: 56%;
  width: 16.5%;

  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: all ease 0.5s;
}
.cards:hover {
  transform: rotate3d(1, 1, 0, 20deg);
}
#card1 {
  background-image: url(assets/html.png);
}

#card2 {
  background-image: url(assets/css.png);
}

#card3 {
  background-image: url(assets/javascript.png);
}
